@font-face {
    font-family: "Moderat";
    src: url('../fonts/Moderat/fontie-package/Moderat\ Light.woff2') format('woff2'),
        url('../fonts/Moderat/fontie-package/Moderat\ Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Moderat";
    src: url('../fonts/Moderat/fontie-package/Moderat\ Regular.woff2') format('woff2'),
        url('../fonts/Moderat/fontie-package/Moderat\ Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Moderat";
    color: #000;
    max-width: 80rem;
    margin: 0 auto;
}

p {
    font-size: 1.7rem;
}

/* begin navigation */

header {
    width: 90%;
}

.navigation {

    display: flex;
    justify-content: space-between;
    margin: 2rem;

}

.navigation ul {
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: #000;
}

.navigation ul a:hover {
    color: blue;
}

.logo a {
    margin: 2rem;
}

.logo a img {
    height: 2.5rem;
}

.active {
    color: #003cff;
    border-bottom: 2px solid #003cff;
}

/* end navigation */

/* begin footer */

.footer {
    margin-bottom: 2rem;
    background-color: #E6E6E6;
    width: 100%;
}

.containerFooter {
    width: 90%;
    margin: 0 auto;
}

.containerFooter h2 {
    padding-top: 2rem;
}

.containerFooter p {
    margin: 1rem 0rem 0rem 0rem;
}

.containerFooter a {
    color: #000;
    text-decoration: none;
    padding-bottom: 2rem;
}

.containerFooter a:hover {
    color: #003cff;
    border-bottom: 1px solid #003cff;
}

.socials ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.socials a img {
    height: 1.8rem;
    margin-left: 0.8rem;
}

.socials a {
    color: #000;
    text-decoration: none;

}

.socials a:hover,
img:hover {
    color: #003cff;
}

#email {
    width: 100%;
    height: 2.5rem;
    background-color: #E6E6E6;
    padding: 5px;
    max-width: 18rem;
}

.instaContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
}

@media screen and (min-width:48rem) {
    .instaContainer {
        flex-wrap: nowrap;
        align-items: center;
    }

    .instaContainer a {
        margin-left: 10rem;
    }
    
}

.instaContainer h2 {
    margin: 2rem 0rem 1rem 0rem;
    font-size: 1.25rem;
    width: 30%;
}

.instaContainer a {
    margin: 4rem 0rem 0rem 2rem;
    text-decoration: none;
    font-size: 1.25rem;
    width: 30%;
    color: #000;
}

.instaContainer a:hover {
    color: #003cff;
    border-bottom: 1px solid #003cff;
}

.instaContainer img {
    width: 40%;
    object-position: center;
    object-fit: cover;
    margin: 1rem 1rem 1rem 0rem;
}
.footerImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width:48rem) {
    .footerImg {
        flex-wrap: nowrap;
        align-items: center;
        margin-left: 15rem;
    }
    
}



/* end footer */

/* begin button */


.button {
    position: fixed;
    bottom: 0rem;
    right: 0rem;
    width: 100%;
    height: 3rem;
    background-color: #fff;


}

.buttonTop {
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-left: 50%;
    height: 2rem;
    background-color: #fff;
    color: #000;
    border: none;
    border-bottom: 2px solid #000;
}

/* end button */

/* begin index.html */

main {
    margin: 0 auto;
    width: 90%;
}

.intro {
    margin-bottom: 3rem;
    width: 70%;
    font-size: 1.75rem;
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.intro p {
    font-size: 1rem;
}

@media screen and (min-width:64rem) {
    .intro p {
        font-size: 1.75rem;
        margin-bottom: 2rem;
    }
    
}

.intro a {
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #000;
}

@media screen and (min-width:64rem) {
    .intro a {
        font-size: 1.75rem;
    }
    
}

.artExhibitions {
    margin-bottom: 3rem;

}

.artExhibitions a {
    text-decoration: none;
}

@media screen and (min-width:70rem) {
    .artExhibitionsLink {
        transform: translateX(0) translateY(-50%) rotate( 
            -90deg);
                position: absolute;
                left: 1%;
                top: 90%;
    }
}

.card {
    margin-top: 3rem;
}

.card img {
    width: 100%;
    object-fit: cover;
    object-position: center;

}

.card h3 {
    color: #787878;
    font-size: 1rem;
    margin: 1rem 0rem 0.5rem 0rem;
}

.card h2 {
    margin-bottom: 1rem;
}

.card a {
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #000;
    font-size: 1.1rem;
}

.card a:hover {

    color: #003cff;
    border-color: #003cff;
}

@media screen and (min-width:48rem) {

    .cardContainer {
        display: flex;
        align-items: center;
    }

    .card {
        margin-right: 2rem;
    }
}


.bio {
    margin-bottom: 2rem;
}

.bio img {
    width: 70%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2rem;
    position: relative;
    left: 50%;
    transform: translateX(-50vw);
}

.bio h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

@media screen and (min-width:64rem) {
    .bio h2 {
        font-size: 2.6rem;
    }
}

.bio p {
    font-size: 1rem;
    margin-bottom: 2rem;
}
@media screen and (min-width:64rem) {
    .bio p {
        font-size: 1.75rem;
    }
}

.bio a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1.1rem;
}

@media screen and (min-width:64rem) {
    .bio p {
        font-size: 1.75rem;
    }
}

.bio a:hover {
    color: #003cff;
    border-bottom: 2px solid #003cff;
}

.atelier_studio {
    margin-bottom: 4rem;
}

.atelier_studio a {
    text-decoration: none;
    color: #003cff;
}

.atelier_studio a:hover {
    border-bottom: 2px solid #003cff;

}

.studioContainer {
    margin-bottom: 4rem;
}

@media screen and (min-width:48rem) {


    .studioContainer {
        display: flex;
        align-items: center;
    }
}

.studioCards {
    margin-bottom: 3rem;
}

.studioCards img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 1rem;
}

.studioCards h3 {
    color: #787878;
    margin: 1rem 0rem 0.5rem 0rem;
    font-size: 1rem;
}

.studioCards p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.studioCards a {
    font-size: 0.9rem;
    text-decoration: none;
    margin-bottom: 1rem;
    color: #000;
    border-bottom: 2px solid #000;
}

.studioCards a:hover {
    color: #003cff;
    border-color: #003cff;
}

@media screen and (min-width:48rem) {

    .studioCards {
        margin-right: 2rem;
        width: 30%;
    }


}

/* end index.html */

/* begin biography */

.containerBiography img {
    width: 100%;
    margin-bottom: 2rem;
}

.biographyImg {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    left: 50%;
    transform: translateX(-50vw);

}


.biographyText h2 {
    margin: 2rem 0rem 1rem 0rem;
    font-weight: 500;
    font-size: 2rem;
}

@media screen and (min-width:48rem) {
    .biographyText h2 {
        font-size: 2.6rem;
    }

}


.biographyText {
    width: 90%;   
}

@media screen and (min-width:48rem) {

    .biographyText {

        width: 60%;
        margin-left: 7rem;
    }
}

.biographyImg {
    width: 100%;
    margin-left: -4rem;
}

.containerBiography p {
    margin-bottom: 4rem;
    font-size: 1.3rem;

}

@media screen and (min-width:48rem) {
    .containerBiography p {
        font-size: 1.3rem;
    }

}

.place p {
    text-align: right;
    font-size: 0.9rem;
    margin-top: -1.5rem;
    width: 60%;
}

@media screen and (min-width:48rem) {


    .bioContainer {
        display: flex;
        align-items: center;
    }
}

iframe {
    width: 90%;
    max-width: 35rem;
    margin: 5rem auto;
    height: 20rem;
}


.quote {
    margin: 0 auto;
}

.quote p {
    font-size: 1.9rem;
    text-align: center;
    
}

.flexImage h2 {
    margin-bottom: 1rem;

}

.flexImage p {
    margin-bottom: 3rem;
    order: -1;
    margin-right: 4rem;
}

.naturText {
    margin: 0 auto;
}

.naturText h2 {
    text-align: center;
}

.naturText p {
    margin-bottom: 3rem;
}


.diversityText {
    margin-bottom: 3rem;
}

.videoText {
    margin: 0 auto;
}

@media screen and (min-width:48rem) {
    .naturText {
        margin: 0 auto;
        width: 60%;
        font-size: 1.1rem;
        margin-bottom: 2rem;

    }

    .videoText {
        width: 50%;
    }


    .quote {
        width: 50%;
        font-size: 2.5rem;
    }

    .diversityText {
        width: 40%;
        font-size: 1.1rem;
        margin-bottom: 5rem;
    }

}

@media screen and (min-width:48rem) {

    .flexImage {
        display: flex;
        align-items: center;
    }

    .flexImage img {
        width: 40%;
        margin-right: 2rem;
    }
}

/*begin extra page press */

.containerPress {
    width: 90%;

}

.containerPress li {
    margin-left: 1rem;
}

.containerPress h1,
h2,
ul {
    margin-bottom: 1rem;
}

.menuPress {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.menuPress a {
    font-size: 1.3rem;
    color: #000;
    text-decoration: none;
}

.menuPress a:hover {
    color: #003cff;
    border-bottom: 2px solid #003cff;
}

.contactPress p {
    margin-bottom: 1rem;
}

.containerPress p {
    margin-bottom: 1rem;
}

.containerPress li {
    font-size: 1.3rem;
}


.documentAndFiles {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media screen and (min-width:48rem) {
    .documentAndFiles {
        display: flex;
        justify-content: space-between;
    }


}

.documentCard img {
    width: 5%;
    margin-bottom: 1rem;
}

@media screen and (min-width:48rem) {
    .documentCard img {
        width: 10%;
    }
}

.documentCard p,a {
    font-size: 0.9rem;
}

.documentCard {
    margin: 0 auto;
    margin-bottom: 3rem; 
    width: 90%;
    padding: 1rem;
    border: 2px solid #e6e6e6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: center;

}

@media screen and (min-width:48rem) {
    .documentCard {
        width: 20%;
    }
}

.imageCardPress {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: flex-start;
}

.imageCardPress img {
    width: 100%;
    margin-bottom: 1rem;
    
}

.imagesPress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}

.imageCardPress a {
    color: #000;
    font-size: 1rem;
    text-decoration: none;
    border-bottom: 2px solid #000;
}

.imageCardPress a:hover {
    color: #003cff;
    border-color: #003cff;

}

/* begin atelier */

.studio {
    margin: 1rem 0rem 1rem 3rem;
    width: 70%;
}


.studio p {
    width: 60%;
    font-size: 1rem;
}

@media screen and (min-width:64rem) {
    .studio p {
        font-size: 1.75rem;
    }

    .studio h2 {
        font-size: 2.6rem;
    }

}

.atelierStudioContainer {
    width: 90%;
    margin: 0 auto;
}

.cardAtelier {
    width: 90%;
    margin: 2rem 1rem;
}

.cardAtelier img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 1rem;

}

.cardAtelier h3 {
    color: #787878;
    margin: 1rem 0rem 0.5rem 0rem;
    font-size: 1rem;
}

.cardAtelier a {
    font-size: 1.3rem;
    text-decoration: none;
    margin-bottom: 1rem;
    color: #000;
    border-bottom: 2px solid #000;
}

.cardAtelier a:hover {
    color: #003cff;
    border-color: #003cff;
}

.cardAtelier p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}


@media screen and (min-width:48rem) {
    .atelierStudioContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .cardAtelier {
        width: 25%;
    }
}

/* end atelier */

/* start press pagina */

.pressReleases {
    width: 90%;
    margin: 0 auto;
}

.pressCards {
    width: 90%;
    margin: 2rem 4rem 1rem 0rem;

}

.pressCards img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 1rem;

}

.pressCards h3 {
    color: #787878;
    margin: 1rem 0rem 0.5rem 0rem;
    font-size: 1.1rem;
}

.pressCards h2 {
    font-size: 1.75rem;
}

.pressCards p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.pressCards a {
    font-size: 1.3rem;
    text-decoration: none;
    margin-bottom: 2rem;
    color: #000;
    border-bottom: 2px solid #000;
}

.pressCards a:hover {
    color: #003cff;
    border-color: #003cff;
}

@media screen and (min-width:48rem) {
    .pressReleases {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .pressCards {
        width: 25%;
    }
}
/* begin art and exhibtions */

.filter {
    margin-bottom: 2rem;
    width: 90%;
}

.filter a {
    margin-right: 1rem;
    color: #000;
    text-decoration: none;

}

.categories {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    width: 90%;
}
.categories ul {
    display: flex;
    
}

.categories li {
    margin-right: 1rem;
    list-style: none;
    text-decoration: none;
    
}

button.category {
    border: none;
    background: #fff;
    
}

.years {
    font-size: 0.9rem;
    width:90%;
}

.artCards {
    margin-bottom: 3rem;
}

@media screen and (min-width:48rem) {
    .artCards {
        display: flex;
        justify-content: space-between;

    }
}

.textContainerArt {
    margin-bottom: 2rem;
}

@media screen and (min-width:48rem) {

    .textContainerArt {
        width: 50%;
    }
}

.textContainerArt a {
    font-size: 28px;
    color: #000;
    text-decoration: none;
}

.textContainerArt h3 {
    font-size: 1.1rem;
    color: #787878;
}

.artContainer li {
    
    list-style: none;
}


@media screen and (min-width:48rem) {


    .artContainerimg {
        margin-left: 4rem;
        width: 50%;
    }

    .textContainerArt {
        width: 50%;
    }
}

.artContainerimg img {
    margin-right: 2rem;
}


/* extra page art & exhibitions */

.lupineContainer {
    width: 90%;
    margin: 0 auto;
}

.lupineImg {
    position: relative;
    left: 50%;
    transform: translateX(-50vw);
}

.lupineContainer img {
    width: 100%;
    margin-bottom: 2rem;
}

.lupineContainer a {
    color: #000;
    text-decoration: none;
    text-align: right;

}

.lupineText h3 {
    color: #787878;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.lupineText h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.lupineText p {
    font-size: 1.3rem;
    font-weight: 300;
}

.lupine {
    margin-bottom: 3rem;
}

.sculpture {
    width: 90%;
}

.sculpture p {
    font-size: 0.8rem;
    color: #787878;
    margin: 1rem 0rem 1rem 0rem;
}

@media screen and (min-width:48rem) {

    .lupineContainerText {
        display: flex;
    }

    .lupineText {
        width: 50%;
    }
}

@media screen and (min-width:48rem) {
    .lupineContainerImg {
        display: flex;
    }

    .lupineContainerImg img {
        width: 50%;
        margin-right: 3rem;
    }
}

.cardsContainer {
    width: 90%;
    margin: 0 auto;
}

.lupineCards {
    width: 90%;
    margin: 2rem 1rem;

}

.lupineCards img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 1rem;

}

.lupineCards h3 {
    color: #787878;
    margin: 1rem 0rem 0.5rem 0rem;
    font-size: 1rem;
}

.lupineCards a {
    text-decoration: none;
    margin-bottom: 1rem;
    color: #000;
    border-bottom: 2px solid #000;
}

.lupineCards a:hover {
    color: #003cff;
    border-color: #003cff;
}

@media screen and (min-width:48rem) {
    .cardsContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .lupineCards {
        width: 25%;
    }
}


/* start contact page */

.containerContactPage {
    width: 90%;
    margin: 0 auto;
}

.touchText {
    width: 50%;
}

.touchText h1 {
    font-size: 2.1rem;
    margin-bottom: 0.8rem;
}

.touchText p {
    font-size: 1rem;
}

.contactContainer {
    margin-top: 3rem;
}

@media screen and (min-width:48rem) {
    .contactContainer{
        display: flex;
        justify-content: space-between;
    }

    .contactGallery {
        margin-right: 1rem;
        width: 30%;
    }
    
    .contactAtelier {
        width: 30%;
        margin-right: 1rem;
    }
    
}

.contactContainer h2 {
    font-size: 1.3rem;
    font-weight: 800;
}

.contactContainer p {
    font-size: 1rem;
    color: #787878;
}

.contactContainer a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.contactContainer a:hover {
    border-bottom: 2px solid #003cff;
    color: #003cff;
}

.form {
    width: 100%;
}

@media screen and (min-width:48rem) {
    .form {
        width: 33%;
    }
}

input[type="submit"] {
    color: #fff;
    background-color: #003cff;
    width: 4rem;
    height: 2rem;
    border: none;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

input#message {
    width: 75%;
    height: 6rem;
    max-width: 18rem;
    margin-bottom: 1rem;
}

input#email1 {
    width: 100%;
background-color: #ffffff;
padding: 5px;
max-width: 18rem;
margin-bottom: 1rem;
}

select#category {
    width: 60%;
    margin-bottom: 1rem;
}




